@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  outline: none;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

/* :root {
  --primary_color: #163B33;
  --second_color: #000000;
  --black: #1e1e1e;
  --white: #fff;
  --white2: #f5f5f5;
  --grey: #978F8F;
  --main_font: "Anton";
  --trans: .3s ease-in;
} */

:root {
  /* Police Principale */
  --main_font: "Anton";

  /* Autres Couleurs */
  --primary_color: #163B33;
  --black: #1e1e1e;
  --second_color: #000000;
  --white2: #f5f5f5;
  --grey: #978F8F;

  /* Transitions */
  --trans: .3s ease-in;


  /* Couleurs du mode clair */
  --light-bg: #f5f5f5;
  --light-text: #333333;
  --light-secondary: #ffff;

  /* Couleurs du mode sombre */
  --dark-bg: #1a1a1a;
  --dark-text: #ffff;
  --dark-secondary: #2a2a2a;
}

[data-theme="light"] {
  --bg-color: var(--light-bg);
  --text-color: var(--light-text);
  --secondary-color: var(--light-secondary);
}

[data-theme="dark"] {
  --bg-color: var(--dark-bg);
  --text-color: var(--dark-text);
  --secondary-color: var(--dark-secondary);
}

body {
  /* background-color: var(--bg-color); */
  background-color: var(--bg-color);
  width: 100vw;
  overflow-x: hidden;
  position: relative;
}